
[access]
	inheritFrom = Platform-Unrestricted-Projects
[notify "team-vts"]
	email = vts-dev+code_review@google.com
	header = cc
	type = new_changes
	type = submitted_changes
[access "refs/heads/oreo-vts-dev"]
	label-DrNo-Review = -1..+1 group google/android-treble-vts-domain-ninjas@google.com
[access "refs/heads/oreo-mr1-vts-dev"]
	label-DrNo-Review = -1..+1 group google/android-treble-vts-domain-ninjas@google.com
[access "refs/heads/pie-vts-dev"]
	label-DrNo-Review = -1..+1 group google/android-treble-vts-domain-ninjas@google.com
