
[access]
	inheritFrom = Kernel-Projects
[access "refs/heads/oreo-vts-dev"]
	label-DrNo-Review = -1..+1 group google/android-treble-vts-kernel-domain-ninjas@google.com
[access "refs/heads/oreo-mr1-vts-dev"]
	label-DrNo-Review = -1..+1 group google/android-treble-vts-kernel-domain-ninjas@google.com
[access "refs/heads/pie-vts-dev"]
	label-DrNo-Review = -1..+1 group google/android-treble-vts-kernel-domain-ninjas@google.com
[notify "team-vts"]
	header = cc
	email = vts-dev+code_review@google.com
	type = new_changes
	type = submitted_changes
